# Root .gitignore
.DS_Store
*.log

# Subfolder ignores are handled by their respective .gitignore files
backend/.env
backend/__pycache__/
backend/*.keras
backend/*.h5

frontend/.dart_tool/
frontend/build/
frontend/.packages
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.metadata
frontend/pubspec.lock
frontend/ios/Pods/
frontend/ios/.symlinks/
frontend/ios/Flutter/Generated.xcconfig
frontend/ios/Flutter/flutter_export_environment.sh
frontend/android/.gradle/
frontend/android/local.properties
